*{
    font-family: Arial, Helvetica, sans-serif;
    
}
html{
    width: 1540px;
}

.contenedor1{
    height: 120px;
    width: 1540px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    
    

}
.titulo1{
    position: relative;
    left: -480px;
    padding-top: 40px;
    padding-left: 120px;
    font-size: 25px;
    font-weight: 800;
    color: rgb(49,81,206); 
    background-color: white;
    
}

.subtitulo1{
    padding-top: 35px;
    padding-left: 200px;
    position: relative;
    left: -100px;
    color: rgb(121, 121, 121);
    font-size: 18px;
    
}
.subtitulo2{
    position: relative;
    top: 13px;
    left: -50px;
    margin-top: 20px;
    border: 30px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(48,80,205);
    color: rgb(255, 255, 255);
    font-size: 18px;
    box-shadow: 0px 8px 10px -6px rgb(48,80,205);
    
}

.cabecera{
    height: 50px;
    width: 150px;
    
}

.contenedor2{
    height: 800px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    background-image: url("../CSS/imagenes/fondo\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.contenedor3{
    min-height: 100px;
    background: none;
    display: flex;
    justify-content: flex-start;

}

.titulo2{
    position: relative;
    top: 70px;
    padding-left: 120px ;
    color: rgb(28,60,116);
    font-size: 60px;
    font-weight: 800;

    
}

.parrafo{
    position: relative;
    top: 35px;
    padding-left: 120px;
    color: rgb(124,140,164);
    font-size: 21px;
    font-weight: 500;
    min-height: 120px;
}

.parrafo1{
    position: relative;
    top: 15px;
    padding-left: 120px;
    color: rgb(43, 80, 136);
    font-size: 18px;
    font-weight: 500;
    min-height: 200px;
}

.parrafo2{
    position: relative;
    top: -50px;
    padding-left: 120px;
    color: rgb(43, 80, 136);
    font-size: 20px;
    font-weight: 600;
}


.recuadro{
    display: flex;
    justify-content: space-between;
}

.persona{
    position: 200px;
    position: absolute;
    padding-left: 850px;
}
.recuadro2{
    min-width: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(253, 254, 253, 0.932);
    border-radius: 5px;
    list-style: none;
    position: relative;
    border: none;
    left: 120px;
    top: -30px;
    border-left: 30px;
    box-shadow: 6px 5px 13px -3px rgba(28, 131, 228, 0.527);
    color: rgb(122,135,157);
    font-size: 18px;
    border-color: rgba(250,250,255,255);

} 
.subcontenido{
    padding-left: 15px;
    color: rgb(43, 80, 136);
    font-size: 18px;
    font-weight: 600;
}

.boton{
    position: relative;
    top: 20px;
    left: -10px;
    border: 30px;
    border-radius: 5px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(48,80,205);
    color: rgb(255, 255, 255);
    font-size: 18px;
    box-shadow: 0px 8px 10px -6px rgb(48,80,205);
     }

.contenedor4{
    background-image: url("../CSS/imagenes/fondo\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 1535px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    
    
}
.recuadro3{
    
}
.titulo3{
    position: relative;
    top: 350px;
    padding-left: 120px ;
    color: rgb(28,60,116);
    font-size: 45px;
    font-weight: 800;
}
.parrafo3{
    position: relative;
    top: 356px;
    left: 120px;
    color: rgb(124,140,164);
    font-size: 21px;
    font-weight: 500;
    
}
.cuadritos{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 500px;
}
.contenido2{
    height: 250px;
    width: 200px;
    border-radius: 5px; 
    font-size: 15px;
    border-color: rgba(250,250,255,255);
    padding: 30px;
    border-width: 0.5px;
    border-style: solid;
    color: rgb(124,140,164);
    box-shadow: -3px 8px 13px -3px rgba(197, 198, 255, 0.397);

}

.letra{
    color: rgb(28,60,116);
    font-size: 20px;
}

.contenedor5{
    
    background-image: url("../CSS/imagenes/fondo\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 300px;

}

.recuadro4{
    position: relative;
    left: 750px;
}

.titulo4{
    color: rgb(28,60,116);
    font-size: 43px;
    font-weight: 800;
    width: 800px;
    position: relative;
    top: 20px;
}

.parrafo4{
    position: relative;
    top: 30px;
    color: rgb(124,140,164);
    font-size: 20px;
    font-weight: 500;
    width: 800px;
}

.persona2{
    position: relative;
    top: -730px;
    width: 640px;
    left: -10px;
    
}

.contenedor6{
    
}

.contenido3{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 740px;
    top: 50px;
    
    width: 470px;
    border-radius: 5px;
    border-style: solid ;
    border-color: rgba(250,250,255,255);
    border-width: 1px;
    box-shadow: 0px 8px 15px -6px rgba(197, 198, 255, 0.26);
    margin: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 0px;
    color: rgb(28,60,116);
    font-weight: 700;
}


.flechita{
    padding-right: 20px;
    position: relative;
    left: 200px;
    padding-top: 20px;
}

.logos{
    padding-top: 17px;
    padding-left: -2px;
}
.letra2{
    position: relative;
    left: 10px;
    top: 6px;
}

.flechita2{
    padding-right: 20px;
    position: relative;
    left: -400px;
    padding-top: 20px;
}
.flechita3{
    padding-right: 20px;
    position: relative;
    left: 278px;
    padding-top: 20px;
}
.flechita4{
    padding-right: 20px;
    position: relative;
    left: 268px;
    padding-top: 20px;
}
.flechita5{
    padding-right: 20px;
    position: relative;
    left: 189px;
    padding-top: 20px;
}
.letra3{
    display: flex;
    flex-direction: column;
}
.letra4{
    color: rgb(124,140,164);
    font-size: 15px;
    font-weight: 500;
    width: 800px;
    padding-left: 10px;
}
.letra5{
    padding-left: 10px;
    padding-top: 8px;
}

.contenedor7{
    background-image: url("../CSS/imagenes/fondo\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1535px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 800px;
}
.recuadro5{ 
    
}
.titulo5{
    color: rgb(28,60,116);
    font-size: 43px;
    font-weight: 800;
    width: 800px;
    position: relative;
    padding-left: 120px;
    top: 80px;
}
.parrafo5{
    position: relative;
    top: 80px;
    color: rgb(124,140,164);
    font-size: 20px;
    font-weight: 500;
    width: 800px;
    padding-left: 120px;
}
.contenedor8{
    position: relative;
    left: 100px;
    top: 190px;
    width: 200px;
    height: 180px;
    border-radius: 5px;
    border-style: solid ;
    border-color: rgb(252,252,252);
    border-width: 3px;
    box-shadow: 0px 8px 15px -6px rgba(197, 198, 255, 0.26);
    margin: 20px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 0px;
    color: rgb(28,60,116);
    font-weight: 700;
}

.contenedor9{
    position: relative;
    left: 410px;
    top: -50px;
    width: 200px;
    height: 180px;
    border-radius: 5px;
    border-style: none ;
    border-color: rgb(252,252,252);
    border-width: 3px;
    box-shadow: -6px 2px 15px -4px rgba(197, 198, 255, 0.973);
    box-shadow: 4px 0px -10px -3px rgba(197, 198, 255, 0.911) inset;
    margin: 20px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 0px;
    color: rgb(28,60,116);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.13);
}
.contenedor10{
    position: relative;
    left: 100px;
    top: -40px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border-style: solid ;
    border-color: rgb(252,252,252);
    border-width: 3px;
    box-shadow: 0px 8px 15px -6px rgba(197, 198, 255, 0.26);
    margin: 20px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 0px;
    color: rgb(28,60,116);
    font-weight: 700;
}
.contenedor11{
    position: relative;
    left: 410px;
    top: -279px;
    width: 200px;
    height: 180px;
    border-radius: 5px;
    border-style: solid ;
    border-color: rgb(252,252,252);
    border-width: 3px;
    box-shadow: 0px 8px 15px -6px rgba(197, 198, 255, 0.26);
    margin: 20px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 0px;
    color: rgb(28,60,116);
    font-weight: 700;
}
.contenido5{
    display: flex;
    justify-content: space-around;
}

.logos2{
    padding-top: 30px;
    position: relative;
    left: -10px;
}
.letra6{
    color: rgb(28,60,116);
    font-size: 20px;
    font-weight: 500;
    padding-top: 18px;
}
.letra7{
    color: rgb(124,140,164);
    font-size: 13px;
    font-weight: 500;
    position: relative;
    top: -15px;
}
.boton2{
    position: relative;
    top: 0px;
    left: -60px;
    border: 30px;
    border-radius: 5px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(241,245,255,255);
    color: rgb(76,104,217);
    font-size: 15px;
    font-weight: 600;
    width: 180px;
}

.persona3{
    position: relative;
    width: 680px;
    left: 857px;
    top: -1000px;
}

footer{
    background-image: url(.//imagenes/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 1400px;
    left: -10px;
    height: 320px;
    width: 1540px;
}
.contenedor12{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 40px;
}

.contenedor13{
    display: flex;
    justify-content: flex-end;
    height: 90px;
}

.contenido7{
    margin: 60px;
    position: relative;
    top: -212px;
    left: -50px;
}
body{
    width: 1540px;
    height: 4630px;
}
.contenedor14{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    padding-left: 1100px;
    position: relative;
    top: -100px;
    color: rgb(124,140,164);
    font-weight: 500;
    font-size: 14px;
}
.titulo6{
    color: rgb(55,87,212);
    font-size: 23px;
    font-weight: 800;
}
.parrafo6{
    color: rgb(124,140,164);
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: -12px;
}
.titulo7{
    color: rgb(44,74,125);
    font-size: 20px;
}
.parrafo7{
    color: rgb(124,140,164);
    font-weight: 500;
    font-size: 14px;
}
.terminos{
    color: rgb(124,140,164);
    font-weight: 500;
    font-size: 14px;
    padding-left: 100px;
    position: relative;
    top: -30px;
}